@import '../main.css';
@import '../header.css';
@import '../logo.css';
@import '../pagination.css';
@import '../post.css';
@import '../syntax.css';
@import '../variables.css';

:root {
	--accent: #174237;
	--color: #0a1a0f;
	--border-color: #174237;
}

body {
	background-color: color-mod(var(--accent) blend(#fff 75%));
}

/* Color Options */

/* #69306d */
/* #70566d */
/* #a5668b */
/* #8E0045 */
/* #b8336a */
/* #da2f68 */
/* #ee2677 */
/* #f04288 */
/* #e87ea1 */
/* #FC174C */

/* #174237 */
/* #18614F */

/* Instead of black: #36020E */
/* Instead of black: #0a1a0f */