div.code-toolbar > .toolbar a {
	color: var(--background);
	background: var(--accent);
	box-shadow: none;
	font-size: .9em;
}

div.content {
	display: block; 
}

span.pagination__title-h {
	font-size: .9em;
}

.token.variable,
.token.attr-name,
.token.cdata,
.token.function {
	color: var(--accent);
	font-weight: 700;
}

.token.unit,
.token.operator,
code.language-html {
	color: var(--accent);
}

.token.tag {
	color: #000;
}

.token.punctuation {
	color: var(--accent);
}

.token.property {
	color: var(--accent);
}

.token.namespace {
	opacity: 1;
}